---
import { default as Layout } from "src/layouts/Main.astro";
import PostPreview from "@components/posts/PostPreview.svelte";

interface Frontmatter {
  title: string;
  date: string;
  summary: string;
  image?: string;
  tags?: string[];
}

interface Post extends Frontmatter {
  slug: string;
}

const posts = await Astro.glob<Frontmatter>("../../content/posts/*.md");
const matter: Post[] = posts.map((post) => {
  const { frontmatter } = post;

  // regex to select everything before/including `content/`
  const slug: string = post.file.replace(/^.+content/, "").replace(".md", "");
  return { ...frontmatter, slug };
});
---

<Layout>
  <main class="pt-24">
    <div class="max-w-4xl mx-auto">
      <h1 class="font-black text-5xl mb-6">Posts</h1>

      {matter.map((post) => <PostPreview post={post} />)}
    </div>
  </main>
</Layout>
