---
import { default as Layout } from "../layouts/Main.astro";
---

<Layout>
  <main>
    <section class="flex justify-center items-center min-h-screen w-screen">
      <h1 class="font-black text-4xl md:text-6xl">Andy Stewart Design</h1>
    </section>
  </main>
</Layout>
