---
import { default as Layout } from "src/layouts/Main.astro";
import SnipPreview from "@components/snippets/SnipPreview.svelte";
import { Snippet } from "src/types/main";

// Example MDX import
// https://github.com/withastro/astro/blob/360d5c9bbf4c8b663a73d5537a0ab2ee43ecd8d4/packages/integrations/mdx/test/fixtures/mdx-get-static-paths/src/pages/[slug].astro
const posts = await Astro.glob<Snippet>("../../content/snippets/*.md");

const matter = posts.map((post) => {
  const { frontmatter } = post;

  // regex to select everything before/including `content/`
  const slug = post.file.replace(/^.+content/, "").replace(".md", "");
  return { ...frontmatter, slug };
});
---

<Layout>
  <main class="py-24">
    <div class="max-w-4xl mx-auto">
      <h1 class="font-black text-5xl mb-10">Snippets</h1>
      <div class="grid sm:grid-cols-2 gap-4">
        {matter.map((snippet) => <SnipPreview snippet={snippet} />)}
      </div>
    </div>
  </main>
</Layout>
